@import '../../../styles/variables.scss';

.button {
	cursor: pointer;
	background-color: $colorLight;
	border-radius: 4px;
	@include fontStyle;
	padding: 11px 16px;
	min-width: 143px;
	&:disabled {
		// background-color: $colorGreyLight;
		color: $colorGreyLight;
		cursor: not-allowed;
	}
}