@import '../../styles/variables.scss';

.characterCard {
	display: flex;
	@include width-height(600px, 220px);
	border-radius: 9px;
	background-color: $colorGrey;
	overflow: hidden;
	&__image {
		@include width-height(229px, 100%);
		position: relative;
		&>img {
			display: block;
			@include width-height(100%);
			object-fit: cover;
		}
	}
	&__info {
		padding: 12.5px 13.5px 13.5px;
	}
	@media screen and (max-width: $sizeScreenSmall) {
		flex-direction: column;
		@include width-height(100%, fit-content);
		&__image {
			@include width-height(100%, 300px);
			position: relative;
			&>img {
				display: block;
				@include width-height(100%);
				object-fit: cover;
			}
		}
	}
	&_fullsize {
		@include width-height(100%, fit-content);
		display: flex;
		max-height: 595px;
		overflow: hidden;
		&>.characterCard__image {
			@include width-height(595px);
			&>img {
				display: block;
				@include width-height(100%);
				object-fit: cover;
			}
		}
		&>.characterCard__info {
			min-width: 350px;
		}
		@media screen and (max-width: 800px) {
			flex-direction: column;
			max-height: none;
			&>.characterCard__image {
				@include width-height(100%, fit-content);
			}
		}
	}
}

.info {
	@include flex-grid(flex, column, space-between, null);
	&__title {
		@include fontStyle(27px, 29.7px, 800, $colorLight);
	}
	&__status {
		@include fontStyle(16px, 26px, 500, $colorWhite);
		@include flex-grid(flex, null, null, center);
		&_dot {
			@include width-height(9px);
			border-radius: 50%;
			margin-right: 7px;
		}
		&_alive {
			background-color: $colorGreen;
		}
		&_dead {
			background-color: $colorRed;
		}
		&_unknown {
			background-color: $colorGreyLight;
		}
	}
	&__subtitle {
		@include fontStyle(15px, 26px, 500, $colorGreyLight);
	}
	&__text {
		@include fontStyle(18px, 29.25px, 400, $colorLight);
	}
	&_fullsize {
		gap: 20px;
		overflow-y: scroll;
		flex: 1 1 auto;
		&::-webkit-scrollbar {
			width: 10px;
			border-radius: 5px;
		}
		&::-webkit-scrollbar-track {
			border-radius: 16px;
			background-color: $colorGreyLight;
		}
		&::-webkit-scrollbar-thumb {
			background: $colorGrey;
			border-radius: 5px;
			border: 2px solid $colorGreyLight;
		}
		scrollbar-width: thin;
		scrollbar-color: $colorGreyLight $colorGrey;
		&> .info__text_episodes {
			position: relative;
			height: 100%;
			overflow-y: scroll;
		}
	}
}