@import '../../styles/variables.scss';

.characters {
	@include flex-grid(flex, column, null, center);
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 27px;
		padding: 20px 0;
	}
	&__pagination {
		margin: 15px 0 12px;
		display: flex;
		flex-wrap: nowrap;
		&>li{
			&:first-child, &:last-child {
				&>button {
					color: $colorBlack;
				}
			}
			background-color: $colorLight;
			box-shadow: $buttonShadow;
			color: $colorBlack;
		}
	}
}