@import '../../styles/variables.scss';

.fabButton {
	margin: auto;
	&>div {
		width: 40px!important;
		height: 40px!important;
	}
	&__icon {
		margin-left: -2px;
	}
}

.popupHistory {
	position: absolute;
	bottom: 40px;
	right: 20px;
	z-index: 100;
}