@import '../../styles/variables.scss';

.wrapper {
	@include width-height(100%, 100vh);
	@include flex-grid(flex, column, null, null);
	&__content {
		position: relative;
		background-color: $colorGreyDark;
		flex: 1 1 auto;
		width: 100%;
	}
}